---

name: CI
on:
  # Run CI against all pushes (direct commits, also merged PRs), Pull Requests
  push:
    branches:
      - stable-*
  pull_request:
  schedule:
    - cron: '0 6 * * *'

concurrency:
  group: >-
    ${{ github.workflow }}-${{
      github.event.pull_request.number || github.sha
    }}
  cancel-in-progress: true

jobs:

###
# Sanity tests (REQUIRED)
#
# https://docs.ansible.com/ansible/latest/dev_guide/testing_sanity.html

  sanity:
    name: Sanity (Ⓐ${{ matrix.ansible }})
    strategy:
      matrix:
        ansible:
          - stable-2.16
          - stable-2.17
          - stable-2.18
          - devel
        # - milestone

    runs-on: ubuntu-latest

    steps:
      - name: Perform sanity testing
        id: sanity_tests
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.ansible }}
          testing-type: sanity
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          coverage: ${{ github.event_name == 'schedule' && 'always' || 'never' }}
          pull-request-change-detection: true

      - name: Post Codecov results for sanity
        if: ${{ !cancelled() && github.event_name == 'pull_request'}}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_POST_TOKEN }}
          files: ${{ steps.sanity_tests.outputs.test-result-files }}

###
# Unit tests (OPTIONAL)
#
# https://docs.ansible.com/ansible/latest/dev_guide/testing_units.html

  units:
    runs-on: ubuntu-latest

    name: Units (Ⓐ${{ matrix.ansible }})
    strategy:
      # As soon as the first unit test fails, cancel the others to free up the CI queue
      fail-fast: true
      matrix:
        ansible:
          - stable-2.17
          - stable-2.18
          - devel
        # - milestone

    steps:
      - name: >-
          Perform unit testing against
          Ansible version ${{ matrix.ansible }}
        # See the documentation for the following GitHub action on
        # https://github.com/ansible-community/ansible-test-gh-action/blob/main/README.md
        id: units_tests
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.ansible }}
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          coverage: ${{ github.event_name == 'schedule' && 'always' || 'never' }}
          testing-type: units
          test-deps: >-
            ansible.netcommon
            ansible.utils
          pull-request-change-detection: true

      - name: Post Codecov results for units
        if: ${{ !cancelled() && github.event_name == 'pull_request'}}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_POST_TOKEN }}
          files: ${{ steps.units_tests.outputs.test-result-files }}

###
# Integration tests (RECOMMENDED)
#
# https://docs.ansible.com/ansible/latest/dev_guide/testing_integration.html

  integration:
    runs-on: ubuntu-latest

    name: I (Ⓐ${{ matrix.ansible }}+py${{ matrix.python }})
    strategy:
      fail-fast: false
      matrix:
        ansible:
          - devel
        # - milestone
        python:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
        include:
          # Add new versions announced in
          # https://github.com/ansible-collections/news-for-maintainers in a timely manner,
          # consider dropping testing against EOL versions and versions you don't support.
          # ansible-core 2.17
          - ansible: stable-2.17
            python: '3.7'
          - ansible: stable-2.17
            python: '3.8'
          - ansible: stable-2.17
            python: '3.9'
          - ansible: stable-2.17
            python: '3.10'
          - ansible: stable-2.17
            python: '3.11'
          - ansible: stable-2.17
            python: '3.12'
          # ansible-core 2.18
          - ansible: stable-2.18
            python: '3.8'
          - ansible: stable-2.18
            python: '3.9'
          - ansible: stable-2.18
            python: '3.10'
          - ansible: stable-2.18
            python: '3.11'
          - ansible: stable-2.18
            python: '3.12'
          - ansible: stable-2.18
            python: '3.13'


    steps:
      - name: >-
          Perform integration testing against
          Ansible version ${{ matrix.ansible }}
          under Python ${{ matrix.python }}
        # See the documentation for the following GitHub action on
        # https://github.com/ansible-community/ansible-test-gh-action/blob/main/README.md
        id: integration_tests
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.ansible }}
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          coverage: ${{ github.event_name == 'schedule' && 'always' || 'never' }}
          # OPTIONAL command to run before invoking `ansible-test integration`
          # pre-test-cmd:
          target-python-version: ${{ matrix.python }}
          testing-type: integration
          # OPTIONAL If your integration tests require code
          # from other collections, install them like this
          test-deps: ansible.netcommon
          # OPTIONAL If set to true, will test only against changed files,
          # which should improve CI performance. See limitations on
          # https://github.com/ansible-community/ansible-test-gh-action#pull-request-change-detection
          pull-request-change-detection: true

      - name: Post Codecov results for integration
        if: ${{ !cancelled() && github.event_name == 'pull_request'}}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_POST_TOKEN }}
          files: ${{ steps.integration_tests.outputs.test-result-files }}


  check:  # This job does nothing and is only used for the branch protection
          # or multi-stage CI jobs, like making sure that all tests pass before
          # a publishing job is started.
    if: always()

    needs:
      - sanity
      - units
      - integration

    runs-on: ubuntu-latest

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
